# MySQL 테이블 생성 및 데이터 입력 방법

In [7]:
 !pip install pymysql > /dev/null

In [2]:
from google.colab import files
uploaded = files.upload()
filename = list(uploaded.keys())[0]

Saving mysql.json to mysql.json

In [11]:
import json
with open('mysql.json') as fp:
    config_str = fp.read()
config = json.loads(config_str)

In [12]:
import pymysql
conn = pymysql.connect(
    host = config['host'],
    user = config['user'],
    password = config['password'],
    database = config['database'],
    port = config['port']
)

## 테이블 생성

In [16]:
cur = conn.cursor()
sql_create_table = '''
	create table if not exists users (
        uid varchar(20) not null primary key,
        pwd char(44) not null,
        uname varchar(20) not null,
        email varchar(40),
        reg_date datetime default current_timestamp,
        is_deleted int default 0
	);
'''

In [17]:
cur.execute(sql_create_table)

0

## 데이터 추가

In [ ]:
cur = conn.cursor()
cur.execute("INSERT INTO users (uid, pwd, uname) VALUES ('eskim', '2365qw', '김은숙'), ('wjlee', '568qwe', '이우정');")
conn.commit()

In [20]:
cur = conn.cursor()
sql_insert = "INSERT INTO users(uid, pwd, uname) VALUES ('admin', '1234', '관리자');"
cur.execute(sql_insert)

1

In [21]:
sql_select = "select * from users;"
cur.execute(sql_select)
row = cur.fetchone()

In [22]:
row

('admin', '1234', '관리자', None, datetime.datetime(2021, 8, 25, 13, 30, 5), 0)

In [23]:
# 데이터를 하드 디스크에 쓰게 하는 명령
conn.commit()

- 여러건의 데이터 추가

In [24]:
sql_multi_insert = """
    INSERT INTO users (uid, pwd, uname) VALUES 
        ('eskim', '2365qw', '김은숙'), ('wjlee', '568qwe', '이우정');
"""

In [25]:
cur.execute(sql_multi_insert)
conn.commit()

- Placeholder

In [26]:
sql_insert_ph = "INSERT INTO users(uid, pwd, uname) VALUES (%s, '1234', %s);"
uid, uname = 'djy', '대조영'
cur.execute(sql_insert_ph, (uid, uname))
conn.commit()

- 여러건의 데이터를 placeholder를 이용해서 insert

In [27]:
users = (('gdong','홍길동'), ('jbpark','박재범'))
cur.executemany(sql_insert_ph, users)
conn.commit()

- 반복문을 이용해서 insert -> 김철기 강사님이 추천하는 방법

In [28]:
users = (('wued','김길동'), ('bpidk','이용범'))
for user in users:
    cur.execute(sql_insert_ph, user)
conn.commit()

## 꼭 이마무리를 해야 한다

In [29]:
cur.close()
conn.close()